<div class="jumbotron">
    <h1>Auto boys blog</h1>
    <p class="lead">GENUINE QUALITY. GENUINE CONCERN. GENUINE PEOPLE.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>GLASS FITTING</h2>
        <p>Write a blog on the latest glass fitting trends </p>
       
    </div>
    <div class="col-md-4">
        <h2>AUTOMOTIVE PARTS</h2>
        <p>Write a blog on the best parts in the market</p>
        
    </div>
    <div class="col-md-4">
        <h2>Brands</h2>
        <p>Write a blog on our brands we offer </p>
        
    </div>
</div>
